#discount_platform/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
uploads/
apps/backend/uploads/
apps/backend/.env

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build
dist

# Misc
.DS_Store
*.pem
temp/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.*
*.env
*.env.*
apps/**/.env
apps/**/.env.*
packages/**/.env
packages/**/.env.*

# Keep examples
!.env.example
!.env.local.example
!apps/**/.env.example
!apps/**/.env.local.example
!packages/**/.env.example
!packages/**/.env.local.example

# Turbo
.turbo

# Vercel
.vercel

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

TODO.md