EXPO_PUBLIC_API_URL=http://10.0.2.2:3001
EXPO_PUBLIC_TRPC_URL=http://10.0.2.2:3001/trpc
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_replace_me

# Physical device example:
# EXPO_PUBLIC_API_URL=http://192.168.0.10:3001
# EXPO_PUBLIC_TRPC_URL=http://192.168.0.10:3001/trpc
